# Dependencies
node_modules/

# Environment variables – NEVER commit
.env
.env.local

# Angular build
dist/
.angular/

# Logs
*.log
logs/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Test coverage
coverage/